RewriteEngine On
RewriteBase /d/

Options -Indexes

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^$ guard.php [L]
RewriteRule ^index\.php$ guard.php [L]

RewriteRule ^([A-Za-z0-9]{16,64})/stream/?$ stream.php?token=$1 [L,QSA]
RewriteRule ^([A-Za-z0-9]{16,64})/?$ index.php?token=$1 [L,QSA]

RewriteRule ^.*$ guard.php [L]
